name: Build and Deploy
on:
  push:
    branches: [ add-github-actions-to-build-and-upload ]
jobs:
  build:
    strategy:
      matrix:
        os:
          - ubuntu.22.04
        ocaml-version:
          - 4.12.1
          - 4.13.1
          - 4.14.1
          - 5.0.0

        node-version:
          - fermium # v14 Maintenance LTS
          - gallium # v16 Active LTS
          - hydrogen # v18 Active LTS
          - latest
        arch:
          - amd64
          - arm64
    env:
      DOCKER_TAG: ${{ matrix.os }}-ocaml.${{ matrix.ocaml-version }}-node.${{ matrix.node-version }}-${{ matrix.arch }}
      CACHE_DIR: /tmp/docker-cache

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up QEMU
        if: ${{ vars.RUNNER_ARCH == 'X64' }}
        uses: docker/setup-qemu-action@v2
        with:
          platforms: arm64

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - run: mkdir -p ${{ env.CACHE_DIR }}

      - name: Cache Docker layers
        uses: actions/cache@v2
        with:
          path: ${{ env.CACHE_DIR }}
          key: ${{ runner.os }}-buildx-${{ env.DOCKER_TAG }}-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-buildx-${{ env.DOCKER_TAG }}
            ${{ runner.os }}-buildx-

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push image (${{ env.DOCKER_TAG }})
        uses: docker/build-push-action@v4
        with:
          context: ocaml-general
          push: false
          platforms: linux/${{ matrix.arch }}
          build-args: |
            NODE_VERSION=${{ matrix.node-version }}
            OCAML_VERSION=${{ matrix.ocaml-version }}
          tags: ghcr.io/kxcteam/ocaml-general:${{ env.DOCKER_TAG }}
          cache-from: type=local,src=${{ env.CACHE_DIR }}/.buildx-cache
          cache-to: type=local,dest=${{ env.CACHE_DIR }}/.buildx-cache-new,mode=max

      - name: Build and push image (OCaml ${{ matrix.ocaml-verion }})
        if: ${{ matrix.node-version == 'hydrogen' && matrix.arch == 'amd64' }}
        uses: docker/build-push-action@v4
        with:
          context: ocaml-general
          push: false
          platforms: linux/${{ matrix.arch }}
          build-args: |
            NODE_VERSION=${{ matrix.node-version }}
            OCAML_VERSION=${{ matrix.ocaml-version }}
          tags: ghcr.io/kxcteam/ocaml-general:${{ matrix.ocaml-version }}
          cache-from: type=local,src=${{ env.CACHE_DIR }}/.buildx-cache-new

      - name: Move cache
        run: |
          cd ${{ env.CACHE_DIR }}
          rm -rf .buildx-cache
          mv .buildx-cache-new .buildx-cache
